@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            @foreach (var proyecto in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@proyecto.imagenURL" class="card-img-top mx-auto d-block" alt="Imagen del proyecto" style="width: 100px" />
                        <div class="card-body">
                            <h5 class="card-title">@proyecto.titulo</h5>
                            <p class="card-text">@proyecto.descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="@proyecto.link" target="_blank" rel="noreferrer noopener">Visitar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}