@model Persona 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model.Nombre. (@Model.age)</h1>
    <p>Soy un desarrollador de Software especializado en .NET y Flutter.</p>
    <img id="foto" src="~/imagenes/CVPHOTO.jpg" alt="Santiago Weihmüller" />
</div>
